<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"  layout:decorate="~{base2}">
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">

<div th:replace="fragments/header::header"></div>

<main class="main">
    <form th:method="PATCH" th:action="@{/timetable/savelist/}" th:object="${listTimeTable}">
<div class="index-page">
<div class="time-table">
    <div class="class-head">Monday</div>
    <div class="class">
        <input type="hidden" name="id" value=1>
        <th:block th:each="timeT: ${listTimeTable}">
        <select name="item" th:if="${timeT.id==1}" >
            <th:block th:each="it : ${items}">
                <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}" />
            </th:block>

        </select>
        </th:block>
    </div>
    <div class="class">
        <input type="hidden" name="id" value=2>
        <th:block th:each="timeT: ${listTimeTable}">
        <select th:if="${timeT.id==2}" name="item" >
            <th:block th:each="it : ${items}">
                <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
            </th:block>
        </select>
        </th:block>
    </div>
    <div th:block class="class">
        <input type="hidden" name="id" value=3>
        <th:block th:each="timeT: ${listTimeTable}">
            <select th:if="${timeT.id==3}" name="item" >
                <th:block th:each="it : ${items}">
                    <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                </th:block>
            </select>
        </th:block>
    </div>
    <div class="class">
        <input type="hidden" name="id" value=4>
        <th:block th:each="timeT: ${listTimeTable}">
            <select th:if="${timeT.id==4}" name="item" >
                <th:block th:each="it : ${items}">
                    <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                </th:block>
            </select>
        </th:block>
    </div>
    <div class="class">
        <input type="hidden" name="id" value=5>
        <th:block th:each="timeT: ${listTimeTable}">
            <select th:if="${timeT.id==5}" name="item" >
                <th:block th:each="it : ${items}">
                    <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                </th:block>
            </select>
        </th:block>
    </div>
    <div class="class">
        <input type="hidden" name="id" value=6>
        <th:block th:each="timeT: ${listTimeTable}">
            <select th:if="${timeT.id==6}" name="item" >
                <th:block th:each="it : ${items}">
                    <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                </th:block>
            </select>
        </th:block>
    </div>
    <div class="class">
        <input type="hidden" name="id" value=7>
        <th:block th:each="timeT: ${listTimeTable}">
            <select th:if="${timeT.id==7}" name="item" >
                <th:block th:each="it : ${items}">
                    <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                </th:block>
            </select>
        </th:block>
    </div>
    <div class="class">
        <input type="hidden" name="id" value=8>
        <th:block th:each="timeT: ${listTimeTable}">
            <select th:if="${timeT.id==8}" name="item" >
                <th:block th:each="it : ${items}">
                    <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                </th:block>
            </select>
        </th:block>
    </div>
</div>
        <div class="time-table">
        <div class="class-head">Tuesday</div>
            <div class="class">
                <input type="hidden" name="id" value=11>
                <th:block th:each="timeT: ${listTimeTable}">
                    <select name="item" th:if="${timeT.id==11}" >
                        <th:block th:each="it : ${items}">
                            <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}" />
                        </th:block>

                    </select>
                </th:block>
            </div>
            <div class="class">
                <input type="hidden" name="id" value=12>
                <th:block th:each="timeT: ${listTimeTable}">
                    <select th:if="${timeT.id==12}" name="item" >
                        <th:block th:each="it : ${items}">
                            <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                        </th:block>
                    </select>
                </th:block>
            </div>
            <div th:block class="class">
                <input type="hidden" name="id" value=13>
                <th:block th:each="timeT: ${listTimeTable}">
                    <select th:if="${timeT.id==13}" name="item" >
                        <th:block th:each="it : ${items}">
                            <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                        </th:block>
                    </select>
                </th:block>
            </div>
            <div class="class">
                <input type="hidden" name="id" value=14>
                <th:block th:each="timeT: ${listTimeTable}">
                    <select th:if="${timeT.id==14}" name="item" >
                        <th:block th:each="it : ${items}">
                            <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                        </th:block>
                    </select>
                </th:block>
            </div>
            <div class="class">
                <input type="hidden" name="id" value=15>
                <th:block th:each="timeT: ${listTimeTable}">
                    <select th:if="${timeT.id==15}" name="item" >
                        <th:block th:each="it : ${items}">
                            <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                        </th:block>
                    </select>
                </th:block>
            </div>
            <div class="class">
                <input type="hidden" name="id" value=16>
                <th:block th:each="timeT: ${listTimeTable}">
                    <select th:if="${timeT.id==16}" name="item" >
                        <th:block th:each="it : ${items}">
                            <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                        </th:block>
                    </select>
                </th:block>
            </div>
            <div class="class">
                <input type="hidden" name="id" value=17>
                <th:block th:each="timeT: ${listTimeTable}">
                    <select th:if="${timeT.id==17}" name="item" >
                        <th:block th:each="it : ${items}">
                            <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                        </th:block>
                    </select>
                </th:block>
            </div>
            <div class="class">
                <input type="hidden" name="id" value=18>
                <th:block th:each="timeT: ${listTimeTable}">
                    <select th:if="${timeT.id==18}" name="item" >
                        <th:block th:each="it : ${items}">
                            <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                        </th:block>
                    </select>
                </th:block>
            </div>

       </div>
    <div class="time-table">
        <div class="class-head">Wednesday</div>
        <div class="class">1 Personal Eff</div>
        <div class="class">2 Personal Eff</div>
        <div class="class">3 Career P</div>
        <div class="class">4 KK-ICDL</div>
        <div class="class">5 KK-ICDL</div>
        <div class="class">6</div>
        <div class="class">7</div>
        <div class="class">8</div>
    </div>
    <div class="time-table">
        <div class="class-head">Thursday</div>
        <div class="class">1 Food & Nut</div>
        <div class="class">2 Food & Nut</div>
        <div class="class">3 Common</div>
        <div class="class">4 Common</div>
        <div class="class">5 KK-ICDL</div>
        <div class="class">6 Personal Eff</div>
        <div class="class">7</div>
        <div class="class">8</div>
    </div>
    <div class="time-table">
        <div class="class-head">Friday</div>
        <div class="class">1 KK-ICDL</div>
        <div class="class">2 KK-ICDL</div>
        <div class="class">3 Personal Eff</div>
        <div class="class">4 Career P</div>
        <div class="class">5</div>
        <div class="class">6</div>
        <div class="class">7</div>
        <div class="class">8</div>
    </div>
</div>
        <input type="submit" value="Save!!!">
    </form>
</main>
<div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>