<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"  layout:decorate="~{base2}">
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">

<div th:replace="fragments/header::header"></div>

<main class="main">
    <form th:method="PATCH" th:action="@{/timetable/savelist/}" th:object="${listTimeTable}">
<div class="index-page">
    <th:block th:each="timeT: ${listTimeTable}">

    <div class="time-table">

        <div class="class-head"><div>[[${#dates.dayOfWeekName(timeT.day)}]]</div><div> [[${#dates.format(timeT.day, 'dd-MM-yyyy')}]]</div></div>

        <div class="class">
            <input type="hidden" name="id" th:value="${timeT.id}">
                <select name="item" >
                        <option value="0"> </option>
                    <th:block th:each="it : ${items}">

                        <option th:if="${timeT.item1==null}" th:text="${it.name}" th:value="${it.id}" />
                        <option th:if="${timeT.item1!=null}" th:text="${it.name}" th:value="${it.id}"  th:selected="${timeT.item1.id==it.id}" />

                    </th:block>

                </select>
        </div>

        <div class="class">
             <select name="item" >
                <option value="0"> </option>
                <th:block th:each="it : ${items}">
                    <option th:if="${timeT.item2==null}" th:text="${it.name}" th:value="${it.id}" />
                    <option th:if="${timeT.item2!=null}" th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item2.id==it.id}" />
                </th:block>

            </select>
        </div>

        <div class="class">
            <select name="item" >
                <option value="0"> </option>
                <th:block th:each="it : ${items}">
                    <option th:if="${timeT.item3==null}" th:text="${it.name}" th:value="${it.id}" />
                    <option th:if="${timeT.item3!=null}" th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item3.id==it.id}" />
                </th:block>

            </select>
        </div>

        <div class="class">
            <select name="item" >
                <option value="0"> </option>
                <th:block th:each="it : ${items}">
                    <option th:if="${timeT.item4==null}" th:text="${it.name}" th:value="${it.id}" />
                    <option th:if="${timeT.item4!=null}" th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item4.id==it.id}" />
                </th:block>

            </select>
        </div>

        <div class="class">
            <select name="item" >
                <option value="0"> </option>
                <th:block th:each="it : ${items}">
                    <option th:if="${timeT.item5==null}" th:text="${it.name}" th:value="${it.id}" />
                    <option th:if="${timeT.item5!=null}" th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item5.id==it.id}" />
                </th:block>

            </select>
        </div>

        <div class="class">
            <select name="item" >
                <option value="0"> </option>
                <th:block th:each="it : ${items}">
                    <option th:if="${timeT.item6==null}" th:text="${it.name}" th:value="${it.id}" />
                    <option th:if="${timeT.item6!=null}" th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item6.id==it.id}" />
                </th:block>

            </select>
        </div>

        <div class="class">
            <select name="item" >
                <option value="0"> </option>
                <th:block th:each="it : ${items}">
                    <option th:if="${timeT.item7==null}" th:text="${it.name}" th:value="${it.id}" />
                    <option th:if="${timeT.item7!=null}" th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item7.id==it.id}" />
                </th:block>

            </select>
        </div>

        <div class="class">
            <select name="item" >
                <option value="0"> </option>
                <th:block th:each="it : ${items}">
                    <option th:if="${timeT.item8==null}" th:text="${it.name}" th:value="${it.id}" />
                    <option th:if="${timeT.item8!=null}" th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item8.id==it.id}" />
                </th:block>

            </select>
        </div>


    </div>
    </th:block>

</div>
        <div class="div-save-button">
        <input type="submit" value="Save!!!" class="save-button">
        </div>
    </form>

</main>
<div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>