<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"  layout:decorate="~{base2}">
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">

<div th:replace="fragments/header::header"></div>

<main class="main">
    <form th:method="PATCH" th:action="@{/timetable/savelist/}" th:object="${listTimeTable}">
<div class="index-page">
<div class="time-table">
    <div class="class-head">Monday</div>
    <div class="class">
        <input type="hidden" name="id" value=1>
        <th:block th:each="timeT: ${listTimeTable}">
        <select name="item" th:if="${timeT.id==1}" >
            <th:block th:each="it : ${items}">
                <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}" />
            </th:block>

        </select>
        </th:block>
    </div>
    <div class="class">
        <input type="hidden" name="id" value=2>
        <th:block th:each="timeT: ${listTimeTable}">
        <select th:if="${timeT.id==2}" name="item" >
            <th:block th:each="it : ${items}">
                <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
            </th:block>
        </select>
        </th:block>
    </div>
    <div class="class">
        <input type="hidden" name="id" value=3>
        <th:block th:each="timeT: ${listTimeTable}">
            <select th:if="${timeT.id==3}" name="item" >
                <th:block th:each="it : ${items}">
                    <option th:text="${it.name}" th:value="${it.id}" th:selected="${timeT.item.id==it.id}"/>
                </th:block>
            </select>
    </div>
    <div class="class">
        <div th:block th:each="timeT: ${listTimeTable}">
            <a th:if="${timeT.id==4}"  th:href="@{'/timetable/edit/'+${timeT.id}}"> [[${timeT.id}]]  - [[${timeT.item.name}]] ([[${timeT.item.id}]]) </a>
        </div>
    </div>
    <div class="class">
        <div th:block th:each="timeT: ${listTimeTable}">
            <a th:if="${timeT.id==5}"  th:href="@{'/timetable/edit/'+${timeT.id}}"> [[${timeT.id}]]  - [[${timeT.item.name}]] ([[${timeT.item.id}]]) </a>
        </div>
    </div>
    <div class="class">
        <div th:block th:each="timeT: ${listTimeTable}">
            <a th:if="${timeT.id==6}"  th:href="@{'/timetable/edit/'+${timeT.id}}"> [[${timeT.id}]]  - [[${timeT.item.name}]] ([[${timeT.item.id}]]) </a>
        </div>
    </div>
    <div class="class">
        <div th:block th:each="timeT: ${listTimeTable}">
            <a th:if="${timeT.id==7}"  th:href="@{'/timetable/edit/'+${timeT.id}}"> [[${timeT.id}]]  - [[${timeT.item.name}]] ([[${timeT.item.id}]]) </a>
        </div>
    </div>
    <div class="class">
        <div th:block th:each="timeT: ${listTimeTable}">
            <a th:if="${timeT.id==8}"  th:href="@{'/timetable/edit/'+${timeT.id}}"> [[${timeT.id}]]  - [[${timeT.item.name}]] ([[${timeT.item.id}]]) </a>
        </div>
    </div>
</div>
        <div class="time-table">
        <div class="class-head">Tuesday</div>
        <div class="class">

                <div th:block th:each="timeT: ${listTimeTable}">
                    <a th:if="${timeT.id==9}"  th:href="@{'/timetable/edit/'+${timeT.id}}"> [[${timeT.id}]]  - [[${timeT.item.name}]] ([[${timeT.item.id}]]) </a>
                </div>
            <br>
            <a href="/themes/theme2">Theme 2</a>
        </div>
        <div class="class">
            <div th:block th:each="timeT: ${listTimeTable}">
                <a th:if="${timeT.id==10}"  th:href="@{'/timetable/edit/'+${timeT.id}}"> [[${timeT.id}]]  - [[${timeT.item.name}]] ([[${timeT.item.id}]]) </a>
            </div>
        </div>
        <div class="class">
            <div th:block th:each="timeT: ${listTimeTable}">
                <a th:if="${timeT.id==11}"  th:href="@{'/timetable/edit/'+${timeT.id}}"> [[${timeT.id}]]  - [[${timeT.item.name}]] ([[${timeT.item.id}]]) </a>
            </div>
        </div>
        <div class="class">4 KK-ICDL</div>
        <div class="class">5 Food & Nut</div>
        <div class="class">6 Personal Eff</div>
        <div class="class">7 Personal Eff</div>
        <div class="class">
            <select>
                <option value="">Common</option>
                <option value="">KK</option>
                <option value="">Personal Eff</option>
                <option value="">Career Planning</option>
                <option value="">Food & Nut</option>

            </select>
            <select>
                <option value="">Theme1</option>
                <option value="">Theme2</option>
                <option value="">Theme3</option>
                <option value="">Theme4</option>
                <option value="">Theme5</option>

            </select>
        </div>
    </div>
    <div class="time-table">
        <div class="class-head">Wednesday</div>
        <div class="class">1 Personal Eff</div>
        <div class="class">2 Personal Eff</div>
        <div class="class">3 Career P</div>
        <div class="class">4 KK-ICDL</div>
        <div class="class">5 KK-ICDL</div>
        <div class="class">6</div>
        <div class="class">7</div>
        <div class="class">8</div>
    </div>
    <div class="time-table">
        <div class="class-head">Thursday</div>
        <div class="class">1 Food & Nut</div>
        <div class="class">2 Food & Nut</div>
        <div class="class">3 Common</div>
        <div class="class">4 Common</div>
        <div class="class">5 KK-ICDL</div>
        <div class="class">6 Personal Eff</div>
        <div class="class">7</div>
        <div class="class">8</div>
    </div>
    <div class="time-table">
        <div class="class-head">Friday</div>
        <div class="class">1 KK-ICDL</div>
        <div class="class">2 KK-ICDL</div>
        <div class="class">3 Personal Eff</div>
        <div class="class">4 Career P</div>
        <div class="class">5</div>
        <div class="class">6</div>
        <div class="class">7</div>
        <div class="class">8</div>
    </div>
</div>
        <input type="submit" value="Save!!!">
    </form>
</main>
<div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>