<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"  layout:decorate="~{base2}">
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">

<div th:replace="fragments/header::header"></div>

<main class="main">

        <div class="index-page">
            <th:block th:each="timeT: ${listTimeTable}">

                <div class="time-table">

                    <div class="class-head"><div>[[${#dates.dayOfWeekName(timeT.day)}]]</div><div> [[${#dates.format(timeT.day, 'dd-MM-yyyy')}]]</div></div>

                    <div class="class">

                        <th:block th:if="${timeT.item1!=null}" >
                            <a th:href="@{themes/{id}(id=${timeT.item1.getId()})}">[[${timeT.item1.getName()}]]</a>
                        </th:block>
                        <th:block th:if="${timeT.item1==null}" >
                            -
                        </th:block>

                    </div>

                    <div class="class">
                        <th:block th:if="${timeT.item2!=null}" >
                            <a th:href="@{themes/{id}(id=${timeT.item2.getId()})}">[[${timeT.item2.getName()}]]</a>
                        </th:block>
                        <th:block th:if="${timeT.item2==null}" >
                            -
                        </th:block>
                    </div>

                    <div class="class">
                        <th:block th:if="${timeT.item3!=null}" >
                            <a th:href="@{themes/{id}(id=${timeT.item3.getId()})}">[[${timeT.item3.getName()}]]</a>
                        </th:block>
                        <th:block th:if="${timeT.item3==null}" >
                            -
                        </th:block>
                    </div>

                    <div class="class">
                        <th:block th:if="${timeT.item4!=null}" >
                            <a th:href="@{themes/{id}(id=${timeT.item4.getId()})}">[[${timeT.item4.getName()}]]</a>
                        </th:block>
                        <th:block th:if="${timeT.item4==null}" >
                            -
                        </th:block>
                    </div>

                    <div class="class">
                        <th:block th:if="${timeT.item5!=null}" >
                            <a th:href="@{themes/{id}(id=${timeT.item5.getId()})}">[[${timeT.item5.getName()}]]</a>
                        </th:block>
                        <th:block th:if="${timeT.item5==null}" >
                            -
                        </th:block>
                    </div>

                    <div class="class">
                        <th:block th:if="${timeT.item6!=null}" >
                            <a th:href="@{themes/{id}(id=${timeT.item6.getId()})}">[[${timeT.item6.getName()}]]</a>
                        </th:block>
                        <th:block th:if="${timeT.item6==null}" >
                            -
                        </th:block>
                    </div>

                    <div class="class">
                        <th:block th:if="${timeT.item7!=null}" >
                            <a th:href="@{themes/{id}(id=${timeT.item7.getId()})}">[[${timeT.item7.getName()}]]</a>
                        </th:block>
                        <th:block th:if="${timeT.item7==null}" >
                            -
                        </th:block>
                    </div>

                    <div class="class">
                        <th:block th:if="${timeT.item8!=null}" >
                            <a th:href="@{themes/{id}(id=${timeT.item8.getId()})}">[[${timeT.item8.getName()}]]</a>
                        </th:block>
                        <th:block th:if="${timeT.item8==null}" >
                            -
                        </th:block>
                    </div>


                </div>
            </th:block>

        </div>


</main>
<div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>