<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Item</title>
    <link rel="stylesheet" href="../../bootstrap.min.css">
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
<div style ="border: 1px solid blue" class="wrapper">
    <div th:replace="fragments/header::header"></div>
    <main class="main">

<form th:method="PATCH" th:action="@{/items/{id}(id=${item.getId()})}" th:object="${item}">
    <input type="text" class="form-control" th:field="*{name}" id="name">
    </br>
    <input type="submit" class="btn btn-primary" value="Update!">

</form>
    </main>
    <div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>