<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div style ="border: 1px solid blue" class="wrapper">
<div th:replace="fragments/header::header"></div>
<main class="main">

<h1>Items</h1>

<div th:each="item:${items}" class="item">
   <!--  <a th:href="@{/items/{id}(id=${item.getId()})}" th:text="${item.getName()}">user</a> <a href="/themes">Themes</a> -->
     <a th:href="@{/items/{id}(id=${item.getId()})}" th:text="${item.getName()}">user</a> - <a th:href="@{/themes/{itemid}(itemid=${item.getId()})}">Themes</a>

</div>

<br>
<hr>

<a href="/items/new" class="btn btn-primary">Create new</a>
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>


</main>
    <div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>