<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Themes</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div style ="border: 1px solid blue" class="wrapper">
<div th:replace="fragments/header::header"></div>
<main class="main">

<h1>Themes</h1>

<div th:each="theme:${themelist}" class="themes-list">

    <div class="theme-list_name">
        <h4>  <a th:href="@{/themes/edit/{id}(id=${theme.getId()})}" th:text="${theme.getName()}">theme</a></h4>
    </div>
    <div class="theme-list">
    [[${theme.getText()}]]
    </div>
</div>

<br>
<hr>

<a th:href="@{/themes/new/{item_id}(item_id=${item_id})}" class="btn btn-primary">Create new</a>


</main>
    <div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>