<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Themes</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div style ="border: 1px solid blue" class="wrapper">
<div th:replace="fragments/header::header"></div>
<main class="main">

<h1>Themes</h1>

<div th:each="theme:${themelist}" class="theme">
   <!--  <a th:href="@{/items/{id}(id=${item.getId()})}" th:text="${item.getName()}">user</a> <a href="/themes">Themes</a> -->
     <a th:href="@{/themes/{id}(id=${theme.getId()})}" th:text="${theme.getName()}">user</a>

</div>

<br>
<hr>

<a href="/themes/new">Create new</a>


</main>
    <div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>