<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Item</title>
</head>
<body>


<form th:method="PATCH" th:action="@{/timetable/save/{id}(id=${timeTable.getId()})}" th:object="${timeTable}">
    <input type="hidden" th:value="${timeTable.id}">
    <label> Lesson:
        <!-- <input type="text" th:field="*{name}" id="name" required> -->
        <select th:field="*{item}" required>
            <th:block th:each="it : ${items}">
                <option th:text="${it.name}" th:value="${it.id}"/>
            </th:block>

        </select>
    </label>
    </br>
    <input type="submit" value="Save!">

</form>
</body>
</html>